<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>sangnv.filters.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoadController</servlet-name>
        <servlet-class>sangnv.controllers.LoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sangnv.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>sangnv.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartController</servlet-name>
        <servlet-class>sangnv.controllers.AddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartController</servlet-name>
        <servlet-class>sangnv.controllers.RemoveCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>sangnv.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyDiscountController</servlet-name>
        <servlet-class>sangnv.controllers.ApplyDiscountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCartController</servlet-name>
        <servlet-class>sangnv.controllers.ConfirmCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>sangnv.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoadController</servlet-name>
        <servlet-class>sangnv.controllers.AdminLoadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchController</servlet-name>
        <servlet-class>sangnv.controllers.AdminSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookController</servlet-name>
        <servlet-class>sangnv.controllers.DeleteBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBookController</servlet-name>
        <servlet-class>sangnv.controllers.InsertBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookController</servlet-name>
        <servlet-class>sangnv.controllers.EditBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookController</servlet-name>
        <servlet-class>sangnv.controllers.UpdateBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHistorySearchController</servlet-name>
        <servlet-class>sangnv.controllers.AdminHistorySearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailHistoryController</servlet-name>
        <servlet-class>sangnv.controllers.DetailHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCodeController</servlet-name>
        <servlet-class>sangnv.controllers.InsertCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>sangnv.controllers.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserController</servlet-name>
        <servlet-class>sangnv.controllers.ListUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadController</servlet-name>
        <url-pattern>/LoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartController</servlet-name>
        <url-pattern>/AddCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartController</servlet-name>
        <url-pattern>/RemoveCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyDiscountController</servlet-name>
        <url-pattern>/ApplyDiscountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCartController</servlet-name>
        <url-pattern>/ConfirmCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoadController</servlet-name>
        <url-pattern>/AdminLoadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchController</servlet-name>
        <url-pattern>/AdminSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookController</servlet-name>
        <url-pattern>/DeleteBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBookController</servlet-name>
        <url-pattern>/InsertBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookController</servlet-name>
        <url-pattern>/EditBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookController</servlet-name>
        <url-pattern>/UpdateBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHistorySearchController</servlet-name>
        <url-pattern>/AdminHistorySearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailHistoryController</servlet-name>
        <url-pattern>/DetailHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCodeController</servlet-name>
        <url-pattern>/InsertCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserController</servlet-name>
        <url-pattern>/ListUserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <!--    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>-->
    <resource-ref>
        <description>Connection for BookShopDB</description>
        <res-ref-name>DBcon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
